img {
    max-width: 100%;
    max-height: 100%;
}

form {
  border: 1px solid black;
  padding: 1em;

}

hr.progressbarDone{
  color: green;
  background-color: green;
  height: 5px;
  margin: 0;
  border: none;
}

.donation-widget {
    max-width: 50em;
    max-height: 100%;
}

.donation-widget .md-button.md-default-theme.md-primary, .md-button.md-primary {
    margin-bottom: 2em;
}

.donation-widget .product-headline {
   max-width: 100%;
   max-height: 100%;
   font-style: italic;
   color: grey;
   text-align: center;
   margin: 1em 0 2.5em 0;
}

.donation-widget .remaining-days-left span {
  color:rgb(63, 81, 181);
  font-weight: bold;
}

.number-of-donors span {
  font-weight: bold;
}
