<!-- Donations widget -->
<div class="donation-widget">
    <img src="http://placehold.it/1000x666"> <br>

    <p class="product-headline">Imaginary product </p>

    <div ng-switch on="project.isGoalReached">
        <hr class="progressbarDone" ng-switch-when="true">
        <md-progress-linear ng-switch-when="false" md-mode="determinate" value="{{project.progressProcent}}"></md-progress-linear>
    </div>

    <form name="form" ng-submit="giveNow($scope.donation)" class="form-horizontal ng-dirty ng-valid ng-valid-required">

        <md-tooltip ng-if="!project.isGoalReached" md-direction="top">${{project.donationGoal - project.totalDonations}} is still needed for this project</md-tooltip>

        <p class="remaining-days-left"><span>Only 3 days left</span> to fund this project.</p>

        <div ng-switch on="project.numberOfDonors">
            <p ng-switch-when="0"> Become the first donor by pledging any amount!</p>
            <p ng-switch-default class="number-of-donors"> Join the <span style="font-weight:bold;">{{project.numberOfDonors}}</span> other donors who have donated <span>${{project.totalDonations}}</span></p>
        </div>

        <md-input-container>
            <label>Pledge any amount</label>
            <input type="number" class="ng-valid-required" required="" ng-model="$scope.donation" min="0">
        </md-input-container>

        <md-button class="md-primary" type="submit" ng-disabled="form.$invalid">Give Now</md-button>
    </form>
</div>
